.adv-search {
  margin-top: 20px;
  margin-bottom: 20px;

  .adv-search-query {
    border: 1px solid #e0e2e2;
    box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
  }
  .eden-button {
    margin-right: 1em;
  }
  .adv-search-submit {
    display: inline-block;
  }
  .adv-search-results {
    border: 1px solid #e0e2e2;
    box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    border-radius: 2px;
    padding: 0;
    margin-bottom: 10px;
  }
  .adv-search-grid {
    width: 100%;
    font-size: 0.8em;

    td {
      padding: 8px;
      border-bottom: 1px solid #e0e2e2;
    }
  }
  .adv-search-no-wrap {
    white-space: nowrap;
  }
  .adv-search-full {
    color: #cccccc;
  }
}
